.o-contact
  margin: 30px
  @include tablet
    margin: 50px
  &__message
    color: $text-color-secondary
  &__form
    .el-button, .el-select
      width: 100%
    @include desktop
      .el-button
        width: 150px
