$white: #FFF
$orange: #E97E25
$gray-dark: #231F20

// Text
$text-color-principal: $gray-dark
$text-color-secondary: $orange

// Buttons
$btn-primary--background: $orange
$btn-primary--border: $orange

// Navbar
$o-navbar--background: $orange

// Contact
$t-home--background: $orange
$t-home__wrapperSide--background: $white
